@import "./styles/reset.css";
@import "./styles/variables.css";
@import "./styles/utilities.css";

html {
  overflow-x: hidden;
}

body {
  font-family: var(--font-sans);
  font-size: var(--text-base);
  font-weight: var(--font-normal);
  color: var(--color-text);
  background-color: var(--color-bg);
  overflow-x: hidden;
}

#root {
  min-height: 100vh;
  overflow-x: hidden;
}
